
/*INIZIO HEADER */
.primary_nav {
  background-color: #2d3e50;
  color:white;
  line-height: 80px;
}
ul{
  text-align: right;
}
ul li {
  list-style: none;
  display: inline-block;
  padding-right:8px;
}
ul li a {
  text-decoration: none;
  color:white;
}
/* FINE HEADER */

/* INIZIO MAIN */

/* inizio sections */
.ms_section {
  padding: 40px 0;
}
.ms_primary {
  background-color: #1abc9b;
  color: white;
}
.ms_secondary {
  background-color: white;
  color:black;
}
.ms_jumbo {
  padding: 35px 0;
}
.chisono img {
  height: 200px;
}
.chisono {
  text-align: center;
}
/* fine section */

/* inizio portfolio */
.portfolio img {
  height: 250px;
  border-radius: 20px;
  margin: 18px;
}
.ms_intro {
  text-align: center;
}
/* fine portfolio */

/* inizio contact me */
.btn {
  background-color: #1abc9b;
  color: white;
}
/* FINE MAIN */

/* INIZIO FOOTER */
footer .azzurro{
  background-color: #2d3e50;
  color:white;
}
/* FINE FOOTER */
